<mat-toolbar color="primary" fxLayout="row">
    <div fxFlexOffset="65">
        <button mat-button (click)="changeLayout('grid')">
            <mat-icon>apps</mat-icon>
          </button>
        <button mat-button (click)="changeLayout('list')">
          <mat-icon>menu</mat-icon>
        </button>
        <mat-select (selectionChange)="sortBy($event.value)" placeholder="select">
          <mat-option value="PLH">Price Low to high</mat-option>
          <mat-option value="PHL">Price High to Low</mat-option>
          <mat-option value="default">Default</mat-option>
          <mat-option value="2by2">Grid2*2</mat-option>
        </mat-select>
    </div>
  </mat-toolbar>
  <div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <div [fxFlex]="widthVal+'%'" *ngFor="let product of products; let i=index">
        <mat-card class="mat-elevation-z4">
          <h2 class="text-center">{{product.Name}}</h2>
          <mat-card-content>
            <p>
              {{product.Name}} price is <strong>{{product.price}}</strong>
            </p>
            <p>Product Id: {{product.id}}</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>