
<div class="app-container">
  <header class="app-header">
    <nav>
      <ul>
        <li>
          <a routerLink="/">
            Route-1
          </a>
        </li>
        <li>
          <a [routerLink]="['/route-two']">
            Route-2
          </a>
        </li>
        <li>
          <a [routerLink]="['/route-three']">
            Route-3
          </a>
        </li>
        <li>
          <a [routerLink]="['/route-four']">
            Route-4
          </a>
        </li>
        <li>
          <a [routerLink]="['/route-five']">
            Route-5
          </a>
        </li>
        <li>
          <a [routerLink]="['/route-six']">
            Route-6
          </a>
        </li>
      </ul>
    </nav>
  </header>
  <router-outlet></router-outlet>
</div>