<div class="wrapper-box">
    <div class="box">
        <div class="box">
            <div class="box">
                <div class="box">
                    <div class="box">
                        <div class="box">
                            <marquee direction="left" height="100px">
                                This is a sample scrolling text that scrolls towards left.
                            </marquee>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>