<div class="timer-wrapper">
    <div class="row">
        <section class="count-down-view border">
            <h3>Count Down Timer</h3>
            <!-- {{timerValue}} -->
            <p>{{timerVal}}</p>
            <!-- counterTime -->
        </section>
        <section class="border">
            <app-timer 
            (counterTime)="GetTimerValue($event)"
            (updatePause)="updateCount($event,'pause')"
            (updateResume)="updateCount($event,'resume')"
            (resetData)="resetData()"></app-timer>
        </section>
    </div>
    <div class="row">
        <section>
            <app-logger [logList]="logData"></app-logger>
        </section>
        <section>
            <app-counter [pauseVal]="pauseCounter" [startVal]="startCounter"></app-counter>
        </section>
    </div>

</div>