<div class="timer-wrapper">
    <div class="row">
        <section class="count-down-view border">
            <h3>Count Down Timer</h3>
            <!-- {{timerValue}} -->
            <p>1000</p>
        </section>
        <section class="border">
            <app-timer></app-timer>
        </section>
    </div>
    <div class="row">
        <section>
            <app-logger></app-logger>
        </section>
        <section>
            <app-counter></app-counter>
        </section>
    </div>

</div>